#cadastroBox {
  display: flex;
  justify-content: center;
}

#cadastroBox button {
  background: var(--blue);
  color: var(--white);
  font-weight: 600;
  height: 40px;
  font-size: 20px;
  width: 350px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.singleInputModal {
  margin-top: 10px;
}
